{% block body %}
        <div class="text-muted" align="center">
            {{ 'All rights reserved @ Riga Library.'|trans }}

            {{ 'Powered by CoDE PLC &copy 2017'|trans }}
        </div>
    </main>
{% endblock %}